<link rel="import"
      href="/js/bower_components/polymer/polymer.html">

<dom-module id="wishlist-item">

  <template>
    <!-- scoped CSS for this element -->
    <style>
      div {
        display: inline-block;
        background-color: #ccc;
        border-radius: 8px;
        padding: 4px;
      }
    </style>

    <div>
      <span>{{name}} ({{price}})</span>
      <content></content>
    </div>
  </template>

  <script>
    Polymer({
      is: "wishlist-item",
      properties: {
        // declare the owner property
        name: {
          type: String,
          value: "An Item"
        },
        price: {
          type: String,
          value: "R$ 0.00"
        }
      },
      ready: function() {
      	console.log('wishlist-item loaded!');
      }
    });
  </script>

</dom-module>